@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@500&display=swap');

header {
    padding: 10px;
    color: white;
    font-size: 42px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 10px;
    font-size: 44px;
    color: #1976d2;
    font-weight: 700;
    justify-content: flex-start;
}

.logo span {
    color: #19D219;
    font-weight: 100;
}

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
}

a:active {
    color: #19D219;
}